---
title: CDSi Supporting Data API
layout: default
---
<ul class="horzlist">
    <li><a href=#"antigens">Antigens</a></li>
    <li><a href="#vaccines">Vaccines</a></li>
    <li><a href="#groups">Groups</a></li>
    <li><a href="#observations">Observations</a></li>
    <li><a href="#testcases">Testcases</a></li>
</ul>

<ul>
    <li><small>Schedule Data v4.5</small>
    <li><small>Testcases v4.4</small>
</ul>

<h3 id="antigens">Antigens</h3>

<ul class="6col">
    {% for id in site.data.api-ids.antigen %}
    <li><a href="https://opencdsi.org/api/antigens/{{ id }}/">{{ id }}</a></li>
    {% endfor %}
</ul>
<a href="#">Top</a>

<h3 id="vaccines">Vaccines</h3>

<ul class="2col">
    {% for id in site.data.api-ids.vaccine %}
    <li><a href="https://opencdsi.org/api/vaccines/{{ id.id }}">{{id.id}}</a> {{id.description}}</li>
    {% endfor %}
</ul>
<a href="#">Top</a>

<h3 id="groups">Vaccine Groups</h3>

<ul class="6col">
    {% for id in site.data.api-ids.group %}
    <li><a href="https://opencdsi.org/api/vaccines/groups/{{ id }}/">{{ id }}</a></li>
    {% endfor %}
</ul>
<a href="#">Top</a>

<h3 id="observations">Observations</h3>

<ul class="2col">
    {% for id in site.data.api-ids.observation %}
    <li><a href="https://opencdsi.org/api/observations/{{ id.observationCode }}/">{{id.observationCode}}</a>
        {{id.observationTitle}}</li>
    {% endfor %}
</ul>
<a href="#">Top</a>

<h3 id="testcases">Testcases</h3>

<ul class="2col">
    {% for id in site.data.api-ids.testcase %}
    <li><a href="https://opencdsi.org/api/testcases/{{ id.id }}">{{id.id}}</a> {{id.name}}</li>
    {% endfor %}
</ul>
<a href="#">Top</a>
