---
title: CDSi Supporting Data API
layout: default
---
<header>
    {% include menu.html %}
    {% include version.html %}
</header>

<h3 id="antigens">Antigens</h3>

<ul class="col6">
    {% for id in site.data.api-ids.antigen %}
    <li><a href="https://opencdsi.org/api/antigens/{{ id }}/">{{ id }}</a></li>
    {% endfor %}
</ul>
<a href="#">Top</a>

<h3 id="vaccines">Vaccines</h3>

<ul class="col2">
    {% for id in site.data.api-ids.vaccine %}
    <li><a href="https://opencdsi.org/api/vaccines/{{ id.id }}">{{id.id}}</a> {{id.description}}</li>
    {% endfor %}
</ul>
<a href="#">Top</a>

<h3 id="observations">Observations</h3>

<ul class="col2">
    {% for id in site.data.api-ids.observation %}
    <li><a href="https://opencdsi.org/api/observations/{{ id.observationCode }}/">{{id.observationCode}}</a>
        {{id.observationTitle}}</li>
    {% endfor %}
</ul>
<a href="#">Top</a>

<h3 id="testcases">Testcases</h3>

<ul class="col2">
    {% for id in site.data.api-ids.testcase %}
    <li><a href="https://opencdsi.org/api/testcases/{{ id.id }}">{{id.id}}</a> {{id.name}}</li>
    {% endfor %}
</ul>
<a href="#">Top</a>
