---
---

.collapsable input[type="checkbox"] {
    display: none;
}

.collapsable label {
    display: block;
    font-size: 1.75rem;
    margin-bottom: 0.2rem;
    cursor: pointer;
    padding-left:.5rem;
}

.collapsable label:hover {
    background-color: lightblue;
}

.collapsable-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.toggle:checked + .lbl-toggle + .collapsable-content {
    max-height: 100vh;
}

.toggle:checked + .lbl-toggle {
    background-color: lightblue;
}